<!DOCTYPE html>
<html>
  <head>
    <title>Fedora Red Team Security Api</title>
</head>
    <body>
        <p>
        <b>CVE-2017-17942</b> <br />
        Severity: low <br />
        Released on: 28/12/2017 <br />
        Advisory:  <br />
        Bugzilla: <a href="https://bugzilla.redhat.com/show_bug.cgi?id=1529524" target='_blank'>1529524</a><br />
            CVSS Score: <br />
                CVSSv3 Score: 4.4<br />
            Vector: <br />
            CWE: CWE-125<br />
            Affected Packages: <br />
            <a href='https://access.redhat.com/security/cve/cve-2017-17942' target='_blank'>Full Details</a><br />
            <a href="https://access.redhat.com/labs/securitydataapi/cves/CVE-2017-17942.xml">CVE document</a>
        </p>
        <hr>
        <p>
        <link rel="stylesheet" media="all" href="/assets/application-5e5ab250eddfb15d30241a6e67bb6ca31bb6f6b1bf6262124be9400dada99d7a.css" />
    </body>
  </html>